.root {
  flex: 0 0 178px;
  width: 178px;
  height: 100px;
  position: relative;
  margin: 0;
  overflow: hidden;

  &:after {
    content: attr(data-video-duration);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 0 4px;
    line-height: 18px;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    right: 5px;
    bottom: 5px;
    border-radius: 2px;
    z-index: 5;
    transition: all 200ms;
  }
}

.image {
  background: #111 no-repeat center;
  width: 100%;
  padding-top: 56.25%;
  transition: transform 0.5s;
}

.large {
  background: #111 no-repeat 0 center / cover;
}
