.footer {
  background-color: #222;
  color: #fff;
  position: relative;
}

.footer-inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 18px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  > a {
    color: #eee;
    text-decoration: none;
    cursor: pointer;

    + a {
      margin-left: 10px;
    }
  }
}

.copyright {
  font-size: 1.2rem;
}
